page-autocomplete {
    ion-content{
        background-color: rgba(255, 0, 0, 0.5);
    }
    position: relative;

    .bottom{
    bottom: 0;
    width: 100%;
    }

    .request-controls{
    text-align: center;
    background: linear-gradient(transparent, map-get($colors2 , light ));
    }

    

    .pac-container {
        z-index: 10000 !important
    }
}